@keyframes slidein {
    0% {
        margin-left: 0%;
    }

    50% {
        margin-left: 100%;
    }

    100% {
        margin-left: 10%;
    }
}

@keyframes up {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(2.0);
    }
}

@keyframes appear {
    from {
        transform: scale(0.0);
    }

    to {
        transform: scale(1.0);
    }
}