@import "animationsStyles.scss";
$primary: #111;
$secondary: rgb(238, 224, 224);
$highligh: rgb(216, 91, 235);
$background-card: #242424;

.card-team {
    padding: auto;
    gap: 2rem;
    background-color: $primary;
    width: 40rem;
    margin-top: 4rem !important;
    height: 15rem;
    border-radius: 1.5rem;
    display: flex;
    margin: auto;
    color: $secondary;
    align-self: center;
    box-shadow: 10px 10px;
    animation-duration: 4s;
    animation-name: appear;
    animation-iteration-count: inherit;
}

.card-footer-media-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}


.avatar-team {
    border-radius: 1.5rem;
    content: url("../..//public/resources/images/404.jpg");

}


.avatar-team:hover {
    border-radius: 1.5rem;
    content: url("../..//public/resources/images/404.jpg");
}

.toolbar-logo {
    content: url("../..//public/resources/images/cat-logo.jpg");

}

.github-logo {
    font-size: 3rem;

    cursor: pointer;

    &:hover {
        transition: all;
        transition-duration: 300ms;
    }
}


.team-name {
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    justify-content: center;

}

.team-description {
    text-align: justify;
    padding: 1rem;

}

.card-footer-social-media p {
    color: $highligh;
    font-weight: 700;
}

.toolbar-container {
    display: flex;
    justify-content: center;
    align-self: center;
}

.toolbar-button-menu {
    color: gray;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    &:hover {
        color: pink;
        transition: 1s;
    }
}


.menu-projects {
    display: flex;
    width: 100%;
    white-space: nowrap;
    flex-direction: row;
    transition: 2s;
    gap: 20rem;

    .toolbar-logo-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }
    .toolbar-p-title{
        transform: rotate(-2deg);
        font-size: 2rem;
        font-weight: 900;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-image: linear-gradient(45deg, #f3ec78, #af4261);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }

    .ant-menu-horizontal>.ant-menu-item::after,
    .ant-menu-horizontal>.ant-menu-submenu::after {
        border-bottom: none !important;
        transition: none !important;
    }

    .ant-menu-title-content {
        background-color: #242424;
        font-size: 0;
        width: 0%;
        height: 0%;
        display: none;
    }

    .ant-menu-item-icon {
        font-size: 2rem;
        color: black;
    }

    .ant-menu-overflow-item {
        border-bottom: #111 !important;
    }

    .menu-parent {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    /* ===== Scrollbar CSS ===== */
    /* Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: #c89db2 #ffffff;
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 12px;
    }

    *::-webkit-scrollbar-track {
        background: #ffffff;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #c89db2;
        border-radius: 20px;
        border: 3px solid #e6dbdb;
    }
}